@font-face {
  font-family: "poppins-light";
  src: url("./assets/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("./assets/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("./assets/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("./assets/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("./assets/Poppins-Bold.ttf");
}

:root {
  --blue: #2d598b;
  --darkblue: #191923;
  --white: #ffffff;
  --offwhite: #eff1f3;
  --mildgray: #d9d9d9;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-family: "poppins-semibold";
  font-size: 32px;
  color: var(--darkblue);
}

h2,
h3 {
  font-family: "poppins-medium";
  font-size: 16px;
  color: var(--darkblue);
}

p,
li {
  font-family: "poppins-regular";
  font-size: 14px;
  color: var(--darkblue);
  margin: 0;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-family: "poppins-semibold";
    font-size: 36px;
    color: var(--darkblue);
  }

  h2,
  h3 {
    font-family: "poppins-medium";
    font-size: 18px;
    color: var(--darkblue);
  }

  p,
  li {
    font-family: "poppins-medium";
    font-size: 16px;
    color: var(--darkblue);
    margin: 0;
  }
}

/* Nav Bar */
.nav_bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 32px;
  width: 80px;
  height: 100%;
  background-color: var(--offwhite);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .nav_bar {
    width: 100px;
  }
}

/* The text style in the nav bar */
.nav_languages {
  font-size: 16px;
  margin-top: 24px;
  padding: 12px 0;
}

.nav_items {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.nav_bottom_buttons {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  bottom: 24px;
}

/* The buttons in the nav bar */
.nav_button_div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 70px;
}

.nav_button_div button {
  position: fixed;
  height: 70px;
  width: 80px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .nav_button_div {
    width: 100px;
  }
  .nav_button_div button {
    width: 100px;
  }
}

/*customer screen deal button visible, manager screen stock button visible */
#deal_symbol {
  display: flex;
  /* background-color: var(--white); */
}
#beverage_symbol {
  display: none;
}

@media screen and (min-width: 1200px) {
  #deal_symbol {
    display: none;
  }
  #beverage_symbol {
    display: flex;
  }
}

/* The page content div */
.page_content {
  position: relative;
  left: calc(80px + 24px);
  top: 0;
  width: calc(100% - 300px - 80px - 24px - 24px - 24px);
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .page_content {
    position: relative;
    left: calc(100px + 32px);
    top: 0;
    width: calc(100% - 600px - 100px - 32px - 32px - 32px);
    height: 100%;
    overflow: hidden;
  }
}

.title_category {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 49px;
}
.title_category h1 {
  margin: 0;
}

.text-header {
  position: absolute;
  display: none;
}

#deal-header,
#page_header,
#page_header_beers,
#page_header_wines,
#page_header_drinks {
  display: block;
}

#manager_page_header,
#manager_page_header_beers,
#manager_page_header_wines,
#manager_page_header_drinks {
  display: none;
}

@media screen and (min-width: 1200px) {
  #page_header,
  #page_header_beers,
  #page_header_wines,
  #page_header_drinks {
    display: none;
  }

  #manager_page_header,
  #manager_page_header_beers,
  #manager_page_header_wines,
  #manager_page_header_drinks {
    display: block;
  }
}

.item_grid {
  align-content: flex-start;
  background-color: white;
  height: calc(100vh - 97px - 32px);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  overflow-y: scroll;
}

@media screen and (min-width: 1200px) {
  .item_grid {
    gap: 24px;
  }
}

.card_button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: calc(32px + (2 * 12px));
  height: calc(32px + (2 * 6px));
  background-color: var(--blue);
  border-radius: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 5px;
}

.manager_card_button {
  display: none;
}

@media screen and (min-width: 1200px) {
  .card_button {
    display: none;
  }
  .manager_card_button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .button_stock,
  .button_refill {
    width: calc(110px + (2 * 12px));
    height: calc(32px + (2 * 6px));
    border-radius: 20px;
    text-align: center;
  }
  .button_stock h2,
  .button_refill h2 {
    color: var(--white);
    font-family: "poppins-medium";
    margin: 0;
  }
  .button_stock {
    background-color: var(--darkblue);
  }
  .button_refill {
    background-color: var(--blue);
  }
  .button_disable {
    color: var(--darkblue);
  }
}

.card_button-icon {
  width: 24px;
  height: 24px;
}

.card_button .add_icon {
  display: block;
}

.card_button .check_icon {
  display: none;
}

.card_button.checked .add_icon {
  display: none;
}

.card_button.checked .check_icon {
  display: block;
}

.card_button.checked {
  background-color: var(--darkblue);
}

/* The class for the whole button */
.ButtonItem {
  background-color: var(--offwhite);
  height: auto;
  border-radius: 10px;
  width: 155px;
  padding: 12px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(239, 241, 243, 0.33) 0px 3px 6px;
}

@media screen and (min-width: 1200px) {
  .ButtonItem {
    width: 190px;
  }
}

/* The text that the product names are written in, such as "Heineken". Also, the prize should be written in this text. This should be connected to a database with the different beverages in some way */
.ButtonHeadline {
  text-align: center;
}

/* This is the styling of the text that describes every product (i.e., alc %). This should be connected to a database */
.ButtonBodyText {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}

/* The button for adding an item into the order */
.AddButton {
  background-color: var(--blue);
}

.page_order {
  position: fixed;
  right: 24px;
  top: 0;
  width: 300px;
  height: 100vh;
}

@media screen and (min-width: 1200px) {
  .page_order {
    position: fixed;
    right: 32px;
    top: 0;
    width: 600px;
    height: 100%;
  }
}

.order_header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 49px;
}

.customer_order_header,
.customer_page_header {
  display: block;
}

.manager_order_header,
.manager_page_header {
  display: none;
}

/* change viewport later to 2560 */
@media screen and (min-width: 1200px) {
  .customer_order_header,
  .customer_page_header {
    display: none;
  }
  .manager_order_header,
  .manager_page_header {
    display: block;
  }
}

.order_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow-y: scroll;
  background-color: var(--offwhite);
  height: calc(100vh - 97px - 32px);
  width: 300px;
  border-radius: 10px;
}

.manager_order_view {
  display: none;
}

@media screen and (min-width: 1200px) {
  .order_box {
    width: 600px;
  }
  .manager_order_view {
    display: block;
    padding: 24px 16px;
  }
  .manager_order_view h2 {
    margin: 0;
  }
  .manager_order {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--white);
    border-radius: 10px;
    padding: 16px 12px;
  }
  .manager_order .manager_order_section {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% / 3);
  }
}

.order_item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 6px;
  height: auto;
  padding: 12px 16px;
}

.order_item_texts {
  display: flex;
  flex-flow: column nowrap;
}

.order_item_controls {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.order_item_headline h2 {
  margin: 0;
}

.order_button {
  border: none;
  font-family: "poppins-semibold";
  font-size: 16px;
  color: var(--white);
  background-color: var(--blue);
  height: 50px;
  width: 220px;
  margin: 24px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (min-width: 1200px) {
  .order_button {
    display: none;
  }
}

.order_button h2 {
  color: var(--white);
}

.item_text h3 {
  margin: 0;
}

.item_controls {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.controls_adjust-amount {
  display: flex;
  flex-flow: row nowrap;
}

.controls_undo-redo img {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1200px) {
  .controls_undo-redo {
    display: none;
  }
}

.order_header h1 {
  margin: 0;
}

.Item {
  margin-left: 25px;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}

/*control buttons for items in orderbox*/
.order_controls {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

hr {
  transform: translateX(-25px);
  border: none;
  border-top: 1px dashed var(--mildgray);
  background-color: var(--offwhite);
  height: 1px;
  width: 300px;
}
span {
  font-family: "poppins-regular";
}

/*The div which centers the log in content*/
.LogInBox {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

/*The box where the user types in the email adress*/
.mail {
  background-color: var(--offwhite);
  width: 420px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
}

/*The box where the user types in the password*/
.password {
  background-color: var(--offwhite);
  width: 420px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
}

/* The Log In Button whihch you press to commit your login*/
.LogInButton {
  border: none;
   font-family: "poppins-semibold";
   font-size: 16px;
   color: var(--white);
   width: 220px;
   margin: 24px auto;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* This is the div for the whole login page */
.loginpage {
  background-color: var(--white);
  position: absolute;
  z-index: 1;
  left: 80px;
  top: 0;
  width: 944px;
  height: 768px;
  display: none;
}

#Arrow {
  padding-left: 100px;
  padding-top: 20px;
}

.ItemNameOrder {
  font-family: "poppins-semibold";
  font-size: 16px;
  padding-left: 10px;
}

.DescriptionOrder {
  font-family: "poppins-regular";
  font-size: 16px;
  padding-left: 10px;
}
.Item {
  margin-left: 25px;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}

/*control buttons for items in orderbox*/
.order_controls {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

hr {
  transform: translateX(-25px);
  border: none;
  border-top: 1px dashed var(--mildgray);
  background-color: var(--offwhite);
  height: 1px;
  width: 300px;
}
span {
  font-family: "poppins-regular";
}

.LogInBox {
  margin: 0 auto;
}

.ItemNameOrder {
  font-family: "poppins-semibold";
  font-size: 16px;
  padding-left: 10px;
}

.DescriptionOrder {
  font-family: "poppins-regular";
  font-size: 16px;
  padding-left: 10px;
}
.Item {
  margin-left: 25px;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}

/*control buttons for items in orderbox*/
.order_controls {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

/*Checkout button*/
#total_order_price {
  z-index: 1;
  border: none;
  font-family: "poppins-semibold";
  font-size: 14px;
  color: var(--white);
  background-color: var(--blue);
  height: 50px;
  width: 220px;
  position: absolute;
  margin: auto;
  transform: translate(735px, -70px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#name_id {
  font-family: "poppins-semibold";
}

#serving_size {
  margin-top: -10px;
  font-size: 12px;
}

#item_price {
  font-family: "poppins-bold";
  margin-top: -5px;
  font-size: 14px;
}

#remove_item,
#remove_item img {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -5px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty,
#increase_item_qty {
  background-color: var(--mildgray);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#increase_item_qty {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#decrease_item_qty img,
#increase_item_qty img {
  height: 20px;
  width: 20px;
}

#item_qty {
  background-color: var(--white);
  height: 25px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#total_item_price {
  font-family: "poppins-bold";
  font-size: 18px;
  position: absolute;
  top: 40px;
  right: 25px;
}

#item_qty {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

hr {
  transform: translateX(-25px);
  border: none;
  border-top: 1px dashed var(--mildgray);
  background-color: var(--offwhite);
  height: 1px;
  width: 300px;
}
span {
  font-family: "poppins-regular";
}

.LogInBox {
  margin: 0 auto;
}
#login {
  display: flex;
  flex-flow: column wrap;
}

#dropTarget {
  height: 100%;
  overflow-y: scroll;
}

@media screen and (min-width: 1200px) {
  #dropTarget {
    display: none;
  }
}

/*login stuff */
.LogInBox,
.fetchbox {
  /*The div which centers the log in content*/
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.mail {
  /*The box where the user types in the email adress*/
  background-color: var(--offwhite);
  width: 420px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
}
.password {
  /*The box where the user types in the password*/
  background-color: var(--offwhite);
  width: 420px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
}

.LogInButton {
  /* The Log In Button whihch you press to commit your login*/
  background-color: var(--darkblue);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
  color: var(--white);
  text-align: center;
  margin: 30px auto;
}

#login-header,
#fetch-header,
#account-header {
  /* This is the div for the whole login and fetch page*/
  background-color: var(--white);
  position: fixed;
  z-index: 1;
  left: 80px;
  top: 0;
  width: 60%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

#fetch_symbol {
  visibility: hidden;
  text-align: center;
}

#login {
  gap: 10px;
}

#account_symbol {
  z-index: 1;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}

/* #fetch_symbol,
#login,
#account_symbol {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
} */

/*filter stuff */
.filter-container {
  display: flex;
  position: absolute;
  right: 24px;
  top: 32px;
  height: auto;
  width: 120px;
  justify-content: center;
}
#filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  position: absolute;
  top: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}
.filter-list {
  list-style-type: none;
  padding: 0;
  margin-top: 35px;
  text-align: center;
  padding-left: 10px;
}
.filter-list li {
  display: inline-flex;
  width: 100px;
  height: 30px;
  text-align: center;
  align-items: center;
}

.filter-list li p {
  font-size: 10px;
  color: black;
}
#list-container {
  background-color: var(--white);
  width: 100%;
  border-radius: 10px;
  visibility: hidden;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.deal-category {
  display: flex;
}

.beer-category,
.wine-category,
.drink-category {
  display: none;
}

.qr_submit{ /*The gray box where the user can type in an amount to add to their balance, press sumbit, and see the qr code*/
  background-color: var(--offwhite);
  height: 300px;
  width: 500px;
  display: flex;
  align-items: center; /* center child divs vertically */
  justify-content: center;
  margin-top: 30px;
  border-radius: 10px;
}

#balance{
  font-size: 24px;
  padding-top: 30px;
}

#totalSum{
  font-size: 40px;
  padding-bottom: 20px;
}

.balance_div{
  padding-left: 20px;
}

#add_balance{
  font-size: 24px;
}

#submit_button{
  border: none;
    font-family: "poppins-semibold";
    font-size: 16px;
    color: var(--white);
    background-color: var(--blue);
    height: 50px;
    width: 220px;
    margin: 24px auto;
    border-radius: 10px;
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(239, 241, 243, 0.33) 0px 3px 6px;
}

 #input_number{
  background-color: var(--white);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
  margin-top: 10px;
 }

#balance_instructions{
  width: 500px;
}

.page_order_opacity {
  position: fixed;
  right: 24px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: var(--white);
  opacity: 0.5;
}

.accountbox{
  height: 100%;
}

/* #manager-login{
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  } */