@font-face {
  font-family: "poppins-light";
  src: url("./assets/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("./assets/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("./assets/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("./assets/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("./assets/Poppins-Bold.ttf");
}

:root {
  --blue: #2d598b;
  --darkblue: #191923;
  --white: #ffffff;
  --offwhite: #eff1f3;
  --mildgray: #d9d9d9;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-family: "poppins-semibold";
  font-size: 32px;
  color: var(--darkblue);
}

h2,
h3 {
  font-family: "poppins-medium";
  font-size: 16px;
  color: var(--darkblue);
}

p {
  font-family: "poppins-regular";
  font-size: 14px;
  color: var(--darkblue);
  margin: 0;
}

/* Nav Bar */
.nav_bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 32px;
  width: 80px;
  height: 100%;
  background-color: var(--offwhite);
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  float: left;
}

/* The text style in the nav bar */
.nav_languages {
  font-size: 16px;
  margin-top: 24px;
  padding: 12px 0;
}

.nav_items {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 24px;
}

/* The class for the log in button, since it is placed at the bottom of the nav bar */
.nav_login {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

/* The buttons in the nav bar */
.nav_button_div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80px;
  height: 50px;
}

.nav_button_div button {
  position: absolute;
  height: 70px;
  width: 80px;
  display: flex;
  align-items: center;
  transform: translate(0px, -20px);
}

/* The page content div */
.page_content {
  position: relative;
  left: calc(80px + 24px);
  top: 0;
  width: 600px;
  height: 100%;
  overflow: hidden;
}

.title_category {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 49px;
}

.text-header {
  position: absolute;
  display: none;
}
#deal-header {
  display: block;
}

.title_category h1 {
  margin: 0;
}

.item_grid {
  align-content: flex-start;
  background-color: white;
  height: 669px;
  margin-bottom: 32px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  overflow-y: scroll;
}

.card_button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: calc(32px + (2 * 12px));
  height: calc(32px + (2 * 6px));
  background-color: var(--blue);
  border-radius: 20px;
  text-align: center;
}

.card_button-icon {
  width: 24px;
  height: 24px;
}

.card_button .add_icon {
  display: block;
}

.card_button .check_icon {
  display: none;
}

.card_button.checked .add_icon {
  display: none;
}

.card_button.checked .check_icon {
  display: block;
}

.card_button.checked {
  background-color: var(--darkblue);
}

.ButtonItem {
  /* The class for the whole button */
  background-color: var(--offwhite);
  height: auto;
  border-radius: 10px;
  width: 160px;
  padding: 12px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(239, 241, 243, 0.33) 0px 3px 6px;
}

.ButtonHeadline {
  /* The text that the product names are written in, such as "Heineken". Also, the prize should be written in this text. This should be connected to a database with the different beverages in some way */
  text-align: center;
}

.ButtonBodyText {
  /* This is the styling of the text that describes every product (i.e., alc %). This should be connected to a database */
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}

.AddButton {
  /* The button for adding an item into the order */
  background-color: var(--blue);
}

.page_order {
  position: fixed;
  right: 24px;
  top: 0;
  width: 300px;
  height: 100%;
}

.order_header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.order_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow-y: scroll;
  background-color: var(--offwhite);
  height: 670px;
  width: 300px;
  border-radius: 10px;
}

.order_item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 16px;
  height: auto;
  padding: 12px;
}

.order_button {
  border: none;
  font-family: "poppins-semibold";
  font-size: 16px;
  color: var(--white);
  background-color: var(--blue);
  height: 50px;
  width: 220px;
  margin: 24px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.order_button h2 {
  color: var(--white);
}

/* A way to get the h3 inside the class */
.item_text h3 {
  margin: 0;
}

.item_controls {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.controls_adjust-amount {
  display: flex;
  flex-flow: row nowrap;
}

.controls_undo-redo img {
  width: 32px;
  height: 32px;
}

.order_header h1 {
  margin: 0;
}

.Item {
  margin-left: 25px;
  position: relative;
}

button {
  /*Change this to make buttons visable*/
  border: none;
  background-color: transparent;
}
.order_controls {
  /*control buttons for items in orderbox*/
  display: flex;
  align-items: center;
  float: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

#total_order_price {
  /*Checkout button*/
  z-index: 1;
  border: none;
  font-family: "poppins-semibold";
  font-size: 14px;
  color: var(--white);
  background-color: var(--blue);
  height: 50px;
  width: 220px;
  position: absolute;
  margin: auto;
  transform: translate(735px, -70px);

  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#name_id {
  font-family: "poppins-semibold";
}

#serving_size {
  margin-top: -10px;
  font-size: 12px;
}

#item_price {
  font-family: "poppins-bold";
  margin-top: -5px;
  font-size: 14px;
}

#remove_item,
#remove_item img {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -5px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty,
#increase_item_qty {
  background-color: var(--mildgray);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#increase_item_qty {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#decrease_item_qty img,
#increase_item_qty img {
  height: 20px;
  width: 20px;
}

#item_qty {
  background-color: var(--white);
  height: 25px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#total_item_price {
  font-family: "poppins-bold";
  font-size: 18px;
  position: absolute;
  top: 40px;
  right: 25px;
}

#item_qty {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

hr {
  transform: translateX(-25px);
  border: none;
  border-top: 1px dashed var(--mildgray);
  background-color: var(--offwhite);
  height: 1px;
  width: 300px;
}
span {
  font-family: "poppins-regular";
}

.LogInBox {
  /*The div which centers the log in content*/
  /* padding-left: 330px; */
  padding-top: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.mail {
  /*The box where the user types in the email adress*/
  background-color: var(--offwhite);
  width: 420px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
}

.password {
  /*The box where the user types in the password*/
  background-color: var(--offwhite);
  width: 420px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
}

.LogInButton {
  /* The Log In Button whihch you press to commit your login*/
  background-color: var(--darkblue);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px var(--mildgray);
  color: var(--white);
  text-align: center;
  margin: 30px auto;
}

.loginpage {
  /* This is the div for the whole login page */
  /*display: none;*/
  background-color: var(--white);
  position: absolute;
  z-index: 1;
  left: 80px;
  top: 0;
  width: 944px;
  height: 768px;
  display: none;
}

#Arrow {
  padding-left: 100px;
  padding-top: 20px;
}

.ItemNameOrder {
  font-family: "poppins-semibold";
  font-size: 16px;
  padding-left: 10px;
}

.DescriptionOrder {
  font-family: "poppins-regular";
  font-size: 16px;
  padding-left: 10px;
}
.Item {
  margin-left: 25px;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}
.order_controls {
  /*control buttons for items in orderbox*/
  display: flex;
  align-items: center;
  float: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

#total_order_price {
  /*Checkout button*/
  z-index: 1;
  border: none;
  font-family: "poppins-semibold";
  font-size: 14px;
  color: var(--white);
  background-color: var(--blue);
  height: 50px;
  width: 220px;
  position: absolute;
  margin: auto;
  transform: translate(735px, -70px);

  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#name_id {
  font-family: "poppins-semibold";
}

#serving_size {
  margin-top: -10px;
  font-size: 12px;
}

#item_price {
  font-family: "poppins-bold";
  margin-top: -5px;
  font-size: 14px;
}

#remove_item,
#remove_item img {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -5px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty,
#increase_item_qty {
  background-color: var(--mildgray);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#increase_item_qty {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#decrease_item_qty img,
#increase_item_qty img {
  height: 20px;
  width: 20px;
}

#item_qty {
  background-color: var(--white);
  height: 25px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#total_item_price {
  font-family: "poppins-bold";
  font-size: 18px;
  position: absolute;
  top: 40px;
  right: 25px;
}

#item_qty {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

hr {
  transform: translateX(-25px);
  border: none;
  border-top: 1px dashed var(--mildgray);
  background-color: var(--offwhite);
  height: 1px;
  width: 300px;
}
span {
  font-family: "poppins-regular";
}

.LogInBox {
  margin: 0 auto;
}

#Arrow {
  padding-left: 100px;
}

.ItemNameOrder {
  font-family: "poppins-semibold";
  font-size: 16px;
  padding-left: 10px;
}

.DescriptionOrder {
  font-family: "poppins-regular";
  font-size: 16px;
  padding-left: 10px;
}
.Item {
  margin-left: 25px;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}
.order_controls {
  /*control buttons for items in orderbox*/
  display: flex;
  align-items: center;
  float: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

#total_order_price {
  /*Checkout button*/
  z-index: 1;
  border: none;
  font-family: "poppins-semibold";
  font-size: 14px;
  color: var(--white);
  background-color: var(--blue);
  height: 50px;
  width: 220px;
  position: absolute;
  margin: auto;
  transform: translate(735px, -70px);

  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#name_id {
  font-family: "poppins-semibold";
}

#serving_size {
  margin-top: -10px;
  font-size: 12px;
}

#item_price {
  font-family: "poppins-bold";
  margin-top: -5px;
  font-size: 14px;
}

#remove_item,
#remove_item img {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -5px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty,
#increase_item_qty {
  background-color: var(--mildgray);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrease_item_qty {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#increase_item_qty {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#decrease_item_qty img,
#increase_item_qty img {
  height: 20px;
  width: 20px;
}

#item_qty {
  background-color: var(--white);
  height: 25px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#total_item_price {
  font-family: "poppins-bold";
  font-size: 18px;
  position: absolute;
  top: 40px;
  right: 25px;
}

#item_qty {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

hr {
  transform: translateX(-25px);
  border: none;
  border-top: 1px dashed var(--mildgray);
  background-color: var(--offwhite);
  height: 1px;
  width: 300px;
}
span {
  font-family: "poppins-regular";
}

.LogInBox {
  margin: 0 auto;
}
#login {
  display: flex;
  flex-flow: column wrap;
}

#Arrow {
  padding-left: 100px;
}

#dropTarget {
  height: 100px;
  background-color: greenyellow;
}
